<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="stylesheet" type="text/css" href="../../css/order/order_list.css">
    <title>我的订单</title>
</head>
<body>
<div id="app">
    <div class="no_order">暂时还没有订单哦~</div>
    <ul class="order_list">
        <li class="order_item">
            <div class="order_head payed">
                <span class="order_status">待接单</span>
                <span class="order_no">订单号:125923089343212</span>
            </div>
            <div class="order_body">
                <div class="order_info">
                    <span class="user_avatar"></span>
                    <span class="user_name">James</span>
                </div>
                <div class="order_content">
                    <div class="order_time"><span class="key order_time_title">预约时间</span>啊沙发沙发</div>
                    <div class="shop_address"><span class="key shop_address_title">预约地点</span>按时发顺丰a法师法师的按时发生大发万方发生的asfasd案发时发生法</div>
                </div>

            </div>
            <button class="cancel_order">取消订单</button>


        </li>

        <li class="order_item">
            <div class="order_head accepted">
                <span class="order_status">已接单</span>
                <span class="order_no">订单号:125923089343212</span>
            </div>
            <div class="order_body">
                <div class="order_info">
                    <span class="user_avatar"></span>
                    <span class="user_name">James</span>
                </div>
                <div class="order_content">
                    <div class="order_time"><span class="key order_time_title">预约时间</span>啊沙发沙发</div>
                    <div class="shop_address"><span class="key shop_address_title">预约地点</span>按时发顺丰a法师法师的按时发生大发万方发生的asfasd案发时发生法</div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script src="../../js/public/vue.js"></script>
<script src="../../js/order/order_list.js"></script>
</body>
</html>