<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="stylesheet" type="text/css" href="../../css/common/swiper-3.3.1.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/common/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/umei_goddess/index.css"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>约美女神竞选</title>
</head>
<body>
<div class="swiper-container container">
    <div class="swiper-wrapper">
        <!-- page 1-->
        <div class="swiper-slide swiper-page-1">
            <div class="page-content">
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.2s">还</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.3s">记</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.4s">得</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.5s">第</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.6s">一</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.7s">次</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.8s">遇</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="0.9s">见</span>
                <span class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.1s" swiper-animate-delay="1s">她</span>
            </div>
        </div>
        <!-- page 2-->
        <div class="swiper-slide swiper-page-2">
            <div class="flex-ver-box">
                <div class="flex-item ">
                    <div class="flex-hor-box">
                        <div class="flex-item ">
                            <figure class="ani step-img step-img-1" swiper-animate-effect="flipInY" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
                                <p class="step-img-content">
                                    她双眸轻闭静谧甜美
                                </p>
                            </figure>
                        </div>
                        <div class="flex-item ">
                            <figure class="ani step-img step-img-2" swiper-animate-effect="flipInY" swiper-animate-duration="0.5s" swiper-animate-delay="0.6s">
                                <p class="step-img-content">
                                    她湿发披散靥如梨花
                                </p>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="flex-item ">
                    <div class="flex-hor-box">
                        <div class="flex-item ">
                            <figure class="ani step-img step-img-3" swiper-animate-effect="flipInY" swiper-animate-duration="0.5s" swiper-animate-delay="0.9s">
                                <p class="step-img-content">
                                    我持剪修裁小鹿乱撞
                                </p>
                            </figure>
                        </div>
                        <div class="flex-item ">
                            <figure class="ani step-img step-img-4" swiper-animate-effect="flipInY" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s">
                                <p class="step-img-content">
                                    已挥别一秋整日思念
                                </p>
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- page 3-->
        <div class="swiper-slide">
            <div class="index">
                <figure class="index_banner">
                    <img src="../../images/umei_goddess/index_img.png" width="100%">
                </figure>
                <div class="index_body">
                    <div class="index_content">
                        <h1 class="index_title">推荐你的女神参加竞选<br />你和你的女神都会获得大奖哦</h1>
                        <div class="index_list">
                            <div class="index_item">
                                <button class="index_btn goddess_btn">我是女神</button>
                            </div>
                            <div class="index_item">
                                <button class="index_btn recommend_btn">代为推荐</button>
                            </div>
                            <div class="index_item">
                                <button class="index_btn share_btn">去朋友圈@女神</button>
                            </div>
                        </div>

                        <div class="rule">
                            <div class="rule_title">查看奖励</div>
                            <div class="rule_body">
                                <p>第一名奖励：1000约美币，约来约美单独美照拍摄，并有机会成为约来约美御用模特。所属发型师app首页推荐，DAFNI美发梳，成本价2000元。</p>
                                <p>第二名奖励：800约美币。公众号文章美图宣传。所属发型师褚铁匠12生肖猴剪刀价值608元。</p>
                                <p>第三名奖励：600约美币。公众号文章美图宣传。所属发型师褚铁匠镶钻复古风剪刀价值480元。</p>
                                <p>第四名奖励：400约美币。公众号文章美图宣传。所属发型师奖品发蜡</p>
                                <p>第五名奖励：300约美币。公众号文章美图宣传。所属发型师奖品发蜡</p>
                                <p>每位参赛者获得50元优惠券和20元约美币，所有投票者获得50元优惠券10元约美币。</p>
                                <p>（具体实物奖品除美发梳外，待确认）</p>
                                <p class="check_rule"><a href="rule.htm">查看详细奖励及规则 ></a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部翻页btn-->
    <div class="next_btn"></div>
</div>
<!-- 遮罩-->
<div class="mask"></div>
<!--报名 dialog-->
<div class="sign">
    <div class="close_btn"></div>
    <div class="sign_title">
        女神竞选报名表
    </div>
    <div class="choose_img">
        <label class="label_btn" for="file"></label>
        <input id="file" type="file" class="file_btn" accept="image/*" />
    </div>
    <div class="label_tip">上传参赛者照片</div>
    <input class="sign_input user_name" type="text" placeholder="参赛者姓名" />
    <input class="sign_input phone" type="number" maxlength="11" placeholder="参赛者手机号" />
    <input class="sign_input artisan_name" type="text" placeholder="所属发型师" />
    <!--<div style="text-align: left; width: 1.8rem; margin: 0.1rem auto 0 auto">
        <input type="text" class="code" placeholder="验证码" autocomplete="off" />
        <button class="get_code" disabled>获取验证码</button>
    </div>-->

    <button class="sign_up_btn" disabled>
        提交
    </button>
</div>


<script src="../../js/public/zepto.min.js"></script>
<script src="../../js/public/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/public/swiper.animate1.0.2.min.js"></script>
<script src="../../js/umei_goddess/index.js"></script>
</body>
</html>