<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <title>约美女神竞选</title>
    <style>
        *{
            margin: 0;
            padding: 0;

        }
        body{
            font-size: 14px;
            line-height: 26px;
            color: #96877A;
            background: #F7FAFF;
            box-sizing: border-box;
            padding: 0 10px;
        }
        .rule{
            margin-top: 50px;
        }
        .gift{
            margin-top: 30px;
        }
    </style>
</head>
<body>
<article>
    <div class="rule">
        <p>规则：</p>
        <p>所有参赛者不得冒用别人照片，发型师代为上传需经过照片本人同意。任何刷票作弊行为一旦发现，取消中奖资格。</p>
    </div>
    <div class="gift">
        <p>奖励：</p>
        <p>第一名奖励：1000约美币，约来约美单独美照拍摄，并有机会成为约来约美御用模特。所属发型师app首页推荐，DAFNI美发梳，成本价2000元。</p>
        <p>第二名奖励：800约美币。公众号文章美图宣传。所属发型师褚铁匠12生肖猴剪刀价值608元。</p>
        <p>第三名奖励：600约美币。公众号文章美图宣传。所属发型师褚铁匠镶钻复古风剪刀价值480元。</p>
        <p>第四名奖励：400约美币。公众号文章美图宣传。所属发型师奖品发蜡</p>
        <p>第五名奖励：300约美币。公众号文章美图宣传。所属发型师奖品发蜡</p>
        <p>每位参赛者获得50元优惠券和20元约美币，所有投票者获得50元优惠券10元约美币。</p>
        <p>（具体实物奖品除美发梳外，待确认）</p>
    </div>

</article>
</body>
</html>