<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link type="text/css" rel="stylesheet" href="../../css/common/style.css" />
    <link type="text/css" rel="stylesheet" href="../../css/umei_goddess/vote.css" />
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>约美女神竞选</title>
</head>
<body>
<div class="banner">
    <img src="../../images/umei_goddess/index_img.png" width="100%" />
</div>
<div class="goddess">
    <ul class="goddess_list">
        <li class="goddess_item">
            <div class="goddess_item_content">
                <figure class="goddess_avatar" style="background: url(../../images/umei_goddess/goddess_avatar.png) no-repeat top center/ 100% auto"></figure>
                <div class="goddess_info">
                    <div class="goddess_name">Lotty</div>
                    <div class="goddess_vote">
                        <span class="vote_count">1112</span>票
                    </div>
                    <div class="sort">第<span class="sort_id">1</span>名</div>
                    <button class="vote_btn">投票</button>
                </div>
            </div>
        </li><li class="goddess_item fadeInUp">
            <div class="goddess_item_content">
                <figure class="goddess_avatar" style="background: url(../../images/umei_goddess/goddess_avatar.png) no-repeat top center/ 100% auto"></figure>
                <div class="goddess_info">
                    <div class="goddess_name">Lotty</div>
                    <div class="goddess_vote">
                        <span class="vote_count">1112</span>票
                    </div>
                    <div class="sort">第<span class="sort_id">111</span>名</div>
                    <button class="vote_btn" url="../../images/umei_goddess/goddess_avatar.png" onclick="alertDialog(event)">投票</button>
                </div>
            </div>
        </li>

    </ul>
</div>
<div class="mask"></div>
<script src="../../js/public/zepto.min.js"></script>
<script src="../../js/umei_goddess/vote.js"></script>
</body>
</html>