<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="stylesheet" type="text/css" href="../../css/common/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/best_artisan/index.css" />
    <script src="../../js/public/zepto.min.js"></script>
    <title>最强发型师</title>
    <script>
        $('html').css('fontSize', $(window).width()/375*100)
    </script>
</head>
<body>
<div class="index">
    <div class="index_content">
        <figure class="index_artisan">
            <img src="../../images/best_artisan/index_artisan.png" width="100%">
        </figure>
        <div class="rule_title">
            <div class="rule_btn">
                <img src="../../images/best_artisan/game_rule_btn.png" width="100%">
            </div>
            <img src="../../images/best_artisan/index_title.png" width="100%">
        </div>
        <div class="index_play_btn">
            <img src="../../images/best_artisan/btn.png" width="100%">
        </div>
    </div>
</div>
<div class="content">
    <div class="play_box">
        <div class="play_head">
            <p class="artisan_name">Lotty</p>
            <figure class="href_artisan"><img src="../../images/best_artisan/href_artisan.png" class="href_artisan_img"></figure>
            <img class="artisan_img" src="../../images/best_artisan/artisan_img.png" />
            <img src="../../images/best_artisan/call_friend.png" class="call_friend">
        </div>
        <div class="play_body">
            <div class="play_body_padding">
                <div class="play_body_content">
                    <!-- 发型师图片-->
                    <img class="play_people_img" src="../../images/best_artisan/play_people_img.png">

                    <!-- 时钟-->
                    <div class="clock">
                        <img src="../../images/best_artisan/icon_clock.png" width="100%">
                        <img src="../../images/best_artisan/icon_clock_arrow.png" class="clock_arrow">
                    </div>

                    <!-- 游戏进度条-->
                    <div class="play_progress">
                        <div class="progress_height"></div>
                    </div>

                    <!-- 右下角信息-->
                    <div class="info_box">
                        <p class="info_box_get_umei_coin"><span class="icon_coin"></span>恭喜您获得了3元约美币</p>
                        <p class="info_box_get_umei_coin"><span class="icon_coin"></span>恭喜您获得了3元约美币</p>
                        <p><a href="#">立即使用约美币&gt;</a></p>
                    </div>

                    <div class="success_toast display_none">
                        成功投食<span class="success_count"></span>次!
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="play_control">
        <div class="play_control_head">
            <div class="play_control_head_info">
                <img class="niubi_img" src="../../images/best_artisan/niubi.png" /><span class="niubi_count">00004</span>
                <div class="charts_btn"><img src="../../images/best_artisan/charts.png" width="100%"></div>
            </div>

            <button class="play_control_btn">
                <img src="../../images/best_artisan/play_btn.png" width="100%" />
            </button>
        </div>
    </div>
    <div class="charts">
        <ul class="artisan_list">
            <li class="artisan_item">
                <figure class="artisan_img"></figure>
                <div class="artisan_content">
                    <div class="artisan_name">Tassie</div>
                    <div class="artisan_count">1234</div>
                </div>
                <a href="#" class="feed_btn">
                    <img src="../../images/best_artisan/feed_btn.png">
                </a>
            </li>
            <li class="artisan_item">
                <figure class="artisan_img"></figure>
                <div class="artisan_content">
                    <div class="artisan_name">Tassie</div>
                    <div class="artisan_count" style="width: 70%">888</div>
                </div>
                <a href="#" class="feed_btn">
                    <img src="../../images/best_artisan/feed_btn.png">
                </a>
            </li>
            <li class="artisan_item">
                <figure class="artisan_img"></figure>
                <div class="artisan_content">
                    <div class="artisan_name">Tassie</div>
                    <div class="artisan_count" style="width: 30%">888</div>
                </div>
                <a href="#" class="feed_btn">
                    <img src="../../images/best_artisan/feed_btn.png">
                </a>
            </li>
            <li class="artisan_item">
                <figure class="artisan_img"></figure>
                <div class="artisan_content">
                    <div class="artisan_name">Tassie</div>
                    <div class="artisan_count" style="width: 70%">888</div>
                </div>
                <a href="#" class="feed_btn">
                    <img src="../../images/best_artisan/feed_btn.png">
                </a>
            </li>
            <li class="artisan_item">
                <figure class="artisan_img"></figure>
                <div class="artisan_content">
                    <div class="artisan_name">Tassie</div>
                    <div class="artisan_count" style="width: 70%">888</div>
                </div>
                <a href="#" class="feed_btn">
                    <img src="../../images/best_artisan/feed_btn.png">
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="rule display_none">
    <div class="rule_box">
        <div class="rule_content">
            <div class="rule_head">活动规则</div>
            <div class="rule_body">
                <div class="p">
                    <p>活动介绍：约美发型师给自己投食，或者邀请小伙伴给自己投食，iphone7在等着你！</p>
                </div>
                <div class="p">
                    <p>参与方式：</p>
                    <p>我是发型师 登录约美账号给自己投食（每日1次），邀请小伙伴给自己投食</p>
                    <p>我是爱美人士 输入手机号，给心爱的发型师投食（每日2次）。</p>
                    <p>投食每次10秒，点击次数越多，牛逼指数越多，中奖率越高哟!</p>
                </div>
                <div class="p">
                    <p>活动奖励：</p>
                    <p>牛逼指数排名第一的发型师获得获iphone7一部。</p>
                    <p>第二名获得888元。</p>
                    <p>第三名获得588元。</p>
                    <p>爱美人士投食过程中会获得约美币，中奖率百分之百！更有机会获得iphone7!</p>
                    <p>用户获得的约美币和优惠券直接发放到约美账户。</p>
                    <p>注：约美客服会在活动结束后3日之内联系获奖者，7个工作日内发放。3个工作日内电话未接通者视为自动放弃。</p>
                </div>
            </div>

            <button class="rule_close_btn"></button>
        </div>
    </div>
</div>
<div class="login">
    <div class="login_content">
        <div class="login_box">
            <figure class="login_title">
                <img src="../../images/best_artisan/login_txt.png">
            </figure>
            <input class="phone_num" type="number" placeholder="请输入手机号码" />
            <label style="display: block; font-size: 0.1rem; color: #FF8171; text-align: left; width: 1.98rem; margin: 0 auto; padding: 0 0.05rem; text-indent: 0.1rem; box-sizing: border-box">请输入正确手机号</label>
            <div>
                <button class="login_btn">马上开始</button>
            </div>
        </div>
    </div>
</div>
<div class="game_time_toast">
    您的游戏次数已用完
</div>
<img class="boom_img" src="../../images/best_artisan/boom.png" width="100%">
<img class="game_over_img" src="../../images/best_artisan/game_over.png" />
<div class="mask"></div>
<script src="../../js/best_artisan/index.js"></script>
</body>
</html>