<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link rel="stylesheet" type="text/css" href="../../css/common/style.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common/swiper-3.3.1.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/common/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="../../css/umei_post/index.css" />
    <!--<link href='//cdn.webfont.youziku.com/webfonts/nomal/89900/47271/57d7daebf629d80a14a4ae69.css' rel='stylesheet' type='text/css' />-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>门店宣传计划</title>
</head>
<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
        <!--first-->
        <div class="swiper-slide first">
            <div class="post_head ani"  swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
                <div class="title">
                    <span>美业线上官方门店</span>
                    <div class="page_num">1</div>
                    <div class="page_num_bg"></div>
                </div>
            </div>
            <div class="post_body ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s">
                <p>免费推广</p>
                <p>无需押金，不收推广费用 ，首页门店推荐</p>
                <div class="post_content_line">
                    <div class="line"></div><div class="circle"></div><div class="line"></div>
                </div>
                <p>预约服务</p>
                <p>完美预约体验，提高服务品质</p>
            </div>
            <div class="post_foot ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                <img class="post_foot_img" src="../../images/umei_post/first_img.png" >
                <div class="post_foot_circle circle_content ">
                    <div class=" circle_content_inline">
                        <p>平台展示</p>
                        <p>门店和发型师</p>
                        <p>直观展示</p>
                        <p>发动态传作品</p>
                        <p>玩转自我营销</p>
                    </div>
                </div>
                <div class="post_foot_circle post_foot_circle_1"></div>
                <div class="post_foot_circle post_foot_circle_2"></div>
            </div>
        </div>
        <!--second-->
        <div class="swiper-slide second">
            <div class="post_head ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
                <div class="title">
                    <span>美业线上POS机</span>
                    <div class="page_num">2</div>
                    <div class="page_num_bg"></div>
                </div>
            </div>
            <div class="post_body ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s">
                <p>免费</p>
                <p>独家免手续费代收款功能</p>
                <div class="post_content_line">
                    <div class="line"></div><div class="circle"></div><div class="line"></div>
                </div>
                <p>在线账本</p>
                <p>扫码付、服务订单、提现每笔详情记录、查账对账</p>
            </div>
            <div class="post_foot ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                <img class="post_foot_img" src="../../images/umei_post/second_img.png" >
                <div class="post_foot_circle circle_content ">
                    <div class=" circle_content_inline second_circle_content_inline">
                        <p>安全快捷 无需安装</p>
                        <p>扫码即付 即时到账</p>
                        <p>隔日提现</p>
                        <p>支持微信支付宝</p>
                    </div>
                </div>
                <div class="post_foot_circle post_foot_circle_1"></div>
                <div class="post_foot_circle post_foot_circle_2"></div>
            </div>
        </div>
        <div class="swiper-slide end">
            <div class="post_head ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.3s">
                <div class="title">
                    <span>加入约来约美</span>
                    <div class="page_num">3</div>
                    <div class="page_num_bg"></div>
                </div>
            </div>
            <div class="post_body">
                <p class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.4s">下载发型师端APP</p>
                <figure class="ani" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                    <img class="qr_code" src="../../images/umei_post/qr_code.png">
                </figure>
                <div class="download ani" swiper-animate-effect="tada" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
                    <a href="http://a.app.qq.com/o/simple.jsp?pkgname=me.umei.artisan" class="download_btn">
                        点击加入 约来约美
                    </a>
                    <div class="post_foot_circle end_post_circle_1"></div>
                    <div class="post_foot_circle end_post_circle_2"></div>
                    <div class="post_foot_circle end_post_circle_3"></div>
                    <div class="post_foot_circle end_post_circle_4"></div>
                </div>
            </div>

            <a class="phone" href="tel:400-0619-898">客服热线：400-0619-898</a>
        </div>
    </div>
</div>
<div class="slide_btn">NEXT <img src="../../images/umei_post/icon_triangle.png"/></div>
<script src="../../js/public/zepto.min.js"></script>
<script src="../../js/public/swiper-3.3.1.jquery.min.js"></script>
<script src="../../js/public/swiper.animate1.0.2.min.js"></script>
<script>

    $('html').css('font-size', $(window).width()/375*100);
    var mySwiper = new Swiper('.swiper-container', {
        onInit: function(swiper){ //Swiper2.x的初始化是onFirstInit
            swiperAnimateCache(swiper); //隐藏动画元素
            swiperAnimate(swiper); //初始化完成开始动画
        },
        onSlideChangeEnd: function(swiper){
            swiperAnimate(swiper); //每个slide切换结束时也运行当前slide动画
        },
        onSlideChangeStart: function(){
            mySwiper.activeIndex == 2 ? $('.slide_btn').hide() : $('.slide_btn').show();
        }
    });
    $('.slide_btn').on('click', function(){
        mySwiper.slideNext();
    });
    var shareInfo = {
        desc: '钱拿着，快去换个金秋季节色！快变美，还在等什么？',
        title: '钱拿着，快去换个金秋季节色！快变美，还在等什么？',
        url: window.location.href,
        ico: '../../images/umei_post/share_icon.png'
    };
    var json_header = {
        'content-type': 'application/json;charset=utf-8;',
        'accept':'application/json;charset=utf-8'
    };
    var shareAuth = $('meta[name="share-auth"]').attr('content');
    var path = "/wxshare";
    if (undefined == shareAuth && "service" == shareAuth) {
        path = "/wx_service_share";
    }

    $.get(path, {"url": window.location.href}, function (data) {
        typeof data == 'string' ? data = JSON.parse(data) : data = data;
        wx.config({
            debug: false,
            appId: data.appid,
            timestamp: data.timestamp,
            nonceStr: data.nonceStr,
            signature: data.signature,
            jsApiList: ['onMenuShareTimeline', 'onMenuShareAppMessage', 'onMenuShareQQ', 'onMenuShareQZone']
        });

        wx.ready(function () {

            wx.onMenuShareTimeline({
                title: shareInfo.title, // 分享标题
                link: shareInfo.url, // 分享链接
                imgUrl: shareInfo.ico, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareAppMessage({
                title: shareInfo.title, // 分享标题
                link: shareInfo.url, // 分享链接
                imgUrl: shareInfo.ico, // 分享图标
                desc: shareInfo.desc, // 分享描述
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareQQ({
                title: shareInfo.title, // 分享标题
                link: shareInfo.url, // 分享链接
                imgUrl: shareInfo.ico, // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            wx.onMenuShareQZone({
                title: shareInfo.title, // 分享标题
                link: shareInfo.url, // 分享链接
                imgUrl: shareInfo.ico, // 分享图标
                desc: shareInfo.desc, // 分享描述
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

        });

    });

</script>
</body>
</html>